*{ 
    margin: 0; 
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
 }


 html{
    scroll-behavior: smooth;
 }


 /*------Background Shapes ------*/ 
 .spacer{

    aspect-ratio: 900/450;
    width:100%;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
 }
 .layer1{
    background-image: url('/Link-me-In/Images/layer1.svg');
 }
 body{
     background: #1A1A1D ;
     color: #fff;
 }
 #header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
   
    width: 350px; /* check this out*/
    height: 50px;

    
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #C3073F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
     margin-top: 20%;
     font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #C3073F;
}

/* subtext section */
.subtext h2{
    font-size: 50px;
    color: #fff ;
}


/* -------------------------project 1 --------------------------*/


#Web-1{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Web-1-col-1{
    flex-basis: 35%;
}
.Web-1-col-1 img{
    width: 100%;
    border-radius: 15px
}
.Web-1-col-2{
    flex-basis: 60% ;
}
.Web-1-col-2 a{
    color: #C3073F;
}
.sub-title{
   font-size: 60px;
   font-weight: 600;
}
  
 .tab-titles{
     display: flex;
     margin: 20px 0 40px;
 }
 
 
 .tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links-p1{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links-p1::after{
    
    content: '';
    width: 0;
    height: 3px;
    background: #C3073F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
    

.tab-links-p1.active-link-p1::after{
    width: 50%;
}
.tab-contents-p1 ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents-p1 ul li span{
    color: #C3073F;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents-p1.active-tab-p1{
    display: block;
}






/*----------- project 2 ---------------------------- */



#Web-2{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Web-2-col-2{
    flex-basis: 35%;
}
.Web-2-col-2 img{
    width: 100%;
    border-radius: 15px
}
.Web-2-col-1{
    flex-basis: 60% ;
}
.Web-2-col-1 a{
    Color: #C3073F ;
}
.sub-title{
   font-size: 60px;
   font-weight: 600;
}
  
 .tab-titles{
     display: flex;
     margin: 20px 0 40px;
 }
 
 .tab-links-p2{
     margin-right: 50px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     position: relative;
 }
 .tab-links-p2::after{
     content: '';
     width: 0;
     height: 3px;
     background: #C3073F;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.6s;
 }
 .tab-links-p2.active-link-p2::after{
     width: 50%;
 }
 .tab-contents-p2 ul li{
     list-style: none;
     margin: 10px 0;
 }
 .tab-contents-p2 ul li span{
     color: #C3073F;
     font-size: 14px;
 }
 .tab-contents-p2{
     display: none;
 }
 .tab-contents-p2.active-tab-p2{
     display: block;
 }



/*----------- project 3 ---------------------------- */

#Web-3{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Web-3-col-1{
    flex-basis: 35%;
}
.Web-3-col-1 img{
    width: 100%;
    border-radius: 15px
}
.Web-3-col-2{
    flex-basis: 60% ;
}
.Web-3-col-2 a{
    color:#C3073F;
}
.sub-title{
   font-size: 60px;
   font-weight: 600;
}
  
 .tab-titles{
     display: flex;
     margin: 20px 0 40px;
 }
 
 .tab-links-p3{
     margin-right: 50px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     position: relative;
 }
 .tab-links-p3::after{
     content: '';
     width: 0;
     height: 3px;
     background: #C3073F;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.6s;
 }
 .tab-links-p3.active-link-p3::after{
     width: 50%;
 }
 .tab-contents-p3 ul li{
     list-style: none;
     margin: 10px 0;
 }
 .tab-contents-p3 ul li span{
     color: #C3073F;
     font-size: 14px;
 }
 .tab-contents-p3{
     display: none;
 }
 .tab-contents-p3.active-tab-p3{
     display: block;
 }


 /*-------------- css for home screen -------------*/

 nav .fa-solid{
    display: none;
}

 @media only screen and (max-width: 600px){
    /* add #header{
        backgroun-image: url(image of the background for phone ( it needs to be vertical));
    }
    */
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #C3073F;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px; 
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{

        flex-basis: 100%;
    }
    .contact-right{
        font-size: 14px;
    }


 }
 #msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
 }